## Numpy & Arrays and Vectors

NumPy package contains multi-dimensional arrays, various math. operations as well as lin. algebra

In [1]:
import numpy as np

Arrays can be created with help of 'array' function

In [2]:
data1 = [6, 7.5, 8, 0, 1]
arr1 = np.array(data1)
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [3]:
data2 = [[1, 2, 3, 4], [5, 6, 7, 8]]
arr2 = np.array(data2)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [4]:
arr2.ndim

2

In [5]:
arr2.shape

(2, 4)

In [6]:
np.zeros((2, 3))
#np.ones((3,3))
#np.empty((2, 3, 2))
#np.arange(10)

array([[0., 0., 0.],
       [0., 0., 0.]])

Various arithmetic operations are possible. 
(Operation between equal-sized arrays are elementwise. )

In [7]:
arr = np.array([[1., 2., 3.], [4., 5., 6.]])
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [8]:
#arr * arr
#arr - arr
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])
arr2 > arr

array([[False,  True, False],
       [ True, False,  True]])

There are multiple ways to select the elements or subsets.

In [9]:
arr0 = np.arange(15)
arr0

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

Do not forget indexing from the zero from the left side. 

Note that slices are 'the views' referencing to original values, and thus can be rewritten!

In [10]:
slice = arr0[0:3]
slice[1] = 12345
arr0

array([    0, 12345,     2,     3,     4,     5,     6,     7,     8,
           9,    10,    11,    12,    13,    14])

In [11]:
sliceC = arr0[0:3].copy()
sliceC[1] = 6789
arr0

array([    0, 12345,     2,     3,     4,     5,     6,     7,     8,
           9,    10,    11,    12,    13,    14])

In [12]:
sliceD = arr0[arr0 <5]
sliceD

array([0, 2, 3, 4])

## Pandas

Pandas contains data structures and manipulating tools to clean as well as analyse tabular and heterogenous data, having two main structures: Series and DataFrames.

In [21]:
import pandas as pd

<b>Series</b> is one dimensional array of values with labels called 'index'.
(One could also create the series from dictionary (having indices as the keys)).

In [15]:
ts = pd.Series([4, 7, -5, 3, 2, 2], index=["2018", "2019", "2020", "2021","2022", "2023"])
ts

2018    4
2019    7
2020   -5
2021    3
2022    2
2023    2
dtype: int64

In [16]:
print("Indices of ts:",ts.index)
print("Values of ts",ts.values)
print("Values of ts in 2023 is:",ts["2023"])

Indices of ts: Index(['2018', '2019', '2020', '2021', '2022', '2023'], dtype='object')
Values of ts [ 4  7 -5  3  2  2]
Values of ts in 2023 is: 2

In [17]:
ts1 = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])
ts1

d    4
b    7
a   -5
c    3
dtype: int64

In [18]:
ts0 = [float("NaN"), float("nan"), None]
ts2 = pd.Series(ts0)
print(ts2)
pd.isnull(ts2)

0   NaN
1   NaN
2   NaN
dtype: float64

0    True
1    True
2    True
dtype: bool

## Dataframes

<b>Dataframes</b> represents a (rectagular) table of data, in which every column can be a different type, having a row and a column index.


One way of creating a dataframe manually is via dictionary of equaly-lengthed lists.

In [22]:
data = {"state": ["Berlin", "Berlin", "Berlin", "Hamburg", "Hamburg", "Hamburg"],
        "year": [2020, 2021, 2022, 2021, 2022, 2023],
        "pop": [3.5, 3.7, 3.6, 1.4, 1.6, 1.6]}
df = pd.DataFrame(data)
df.head()

     state  year  pop
0   Berlin  2020  3.5
1   Berlin  2021  3.7
2   Berlin  2022  3.6
3  Hamburg  2021  1.4
4  Hamburg  2022  1.6

In [23]:
#df["year"]
df.year
df.loc[1]

state    Berlin
year       2021
pop         3.7
Name: 1, dtype: object

If the nested dictionary is passed to dataframe, the outer keys are interpreted as the columns and the inner keys as the indices.

In [24]:
data2 = {"Hamburg": {2000: 1.5, 2001: 1.7, 2002: 3.6},
               "Berlin": {2001: 3.4, 2002: 3.9}}
df2 = pd.DataFrame(data2)
df2
df2.index.name = "year"
df2.columns.name = "state"
df2
# df.T
# pd.DataFrame(data2, index=[2001, 2002, 2003])

state  Hamburg  Berlin
year
2000       1.5     NaN
2001       1.7     3.4
2002       3.6     3.9

In [25]:
df3 = df2.drop('Berlin',axis=1)
df4 = df3.drop(2001)
df4

state  Hamburg
year
2000       1.5
2002       3.6

Adding two dataframes together retur dataframe whose index and columns are the unions of original ones. Rows and columns that are not found in both original dataframes are filled as missings.

In [26]:
dfA = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list("bcd"),
                   index=["Ohio", "Texas", "Colorado"])
dfB = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list("bde"),
                   index=["Utah", "Ohio", "Texas", "Oregon"])
print(dfA)
print(dfB)
dfC1 = dfA + dfB
print(dfC1)
dfC2 = dfA.add(dfB, fill_value=0)
print(dfC2)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN
            b    c     d     e
Colorado  6.0  7.0   8.0   NaN
Ohio      3.0  1.0   6.0   5.0
Oregon    9.0  NaN  10.0  11.0
Texas     9.0  4.0  12.0   8.0
Utah      0.0  NaN   1.0   2.0

Pandas' objects also have a various common stats and math summarizing methods.

In [27]:
df5 = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=["a", "b", "c", "d"],
                  columns=["A", "B"])
df5

      A    B
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [28]:
#df5.sum()
df5.mean(axis='rows', skipna=True)

A    3.083333
B   -2.900000
dtype: float64

In [29]:
# conda install pandas-datareader
# import pandas_datareader.data as pdr
# !pip install yfinance
import yfinance as yf

In [30]:
DataAll = {ticker: yf.download(ticker, start='2022-01-01', end='2022-02-28') for ticker in ['AAPL', 'MSFT', 'GOOG']}

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [169]:
DataAll

{'AAPL':                  Open       High        Low      Close  Adj Close     Volume
 Date
 2020-01-02  74.059998  75.150002  73.797501  75.087502  73.449387  135480400
 2020-01-03  74.287498  75.144997  74.125000  74.357498  72.735306  146322800
 2020-01-06  73.447502  74.989998  73.187500  74.949997  73.314888  118387200
 2020-01-07  74.959999  75.224998  74.370003  74.597504  72.970085  108872000
 2020-01-08  74.290001  76.110001  74.290001  75.797501  74.143906  132079200
 2020-01-09  76.809998  77.607498  76.550003  77.407501  75.718781  170108400
 2020-01-10  77.650002  78.167503  77.062500  77.582497  75.889969  140644800
 2020-01-13  77.910004  79.267502  77.787498  79.239998  77.511307  121532000
 2020-01-14  79.175003  79.392502  78.042503  78.169998  76.464638  161954400
 2020-01-15  77.962502  78.875000  77.387497  77.834999  76.136948  121923600
 2020-01-16  78.397499  78.925003  78.022499  78.809998  77.090675  108829200
 2020-01-17  79.067497  79.684998  78.750000  79.682503  77.944160  137816400
 2020-01-21  79.297501  79.754997  79.000000  79.142502  77.415924  110843200
 2020-01-22  79.644997  79.997498  79.327499  79.425003  77.692253  101832400
 2020-01-23  79.480003  79.889999  78.912498  79.807503  78.066429  104472000
 2020-01-24  80.062500  80.832497  79.379997  79.577499  77.841438  146537600
 2020-01-27  77.514999  77.942497  76.220001  77.237503  75.552475  161940000
 2020-01-28  78.150002  79.599998  78.047501  79.422501  77.689819  162234000
 2020-01-29  81.112503  81.962502  80.345001  81.084999  79.316055  216229200
 2020-01-30  80.135002  81.022499  79.687500  80.967499  79.201096  126743200
 2020-01-31  80.232498  80.669998  77.072502  77.377502  75.689430  199588400
 2020-02-03  76.074997  78.372498  75.555000  77.165001  75.481560  173788400
 2020-02-04  78.827499  79.910004  78.407501  79.712502  77.973503  136616400
 2020-02-05  80.879997  81.190002  79.737503  80.362503  78.609314  118826800
 2020-02-06  80.642502  81.305000  80.065002  81.302498  79.528816  105425600
 2020-02-07  80.592499  80.849998  79.500000  80.007500  78.447800  117684000
 2020-02-10  78.544998  80.387497  78.462502  80.387497  78.820389  109348800
 2020-02-11  80.900002  80.974998  79.677498  79.902496  78.344833   94323200
 2020-02-12  80.367500  81.805000  80.367500  81.800003  80.205353  113730400
 2020-02-13  81.047501  81.555000  80.837502  81.217499  79.634193   94747600
 2020-02-14  81.184998  81.495003  80.712502  81.237503  79.653824   80113600
 2020-02-18  78.839996  79.937500  78.652496  79.750000  78.195320  152531200
 2020-02-19  80.000000  81.142502  80.000000  80.904999  79.327797   93984000
 2020-02-20  80.657501  81.162498  79.552498  80.074997  78.513977  100566000
 2020-02-21  79.654999  80.112503  77.625000  78.262497  76.736809  129554000
 2020-02-24  74.315002  76.044998  72.307503  74.544998  73.091774  222195200
 2020-02-25  75.237503  75.632500  71.532501  72.019997  70.616005  230673600
 2020-02-26  71.632500  74.470001  71.625000  73.162498  71.736237  198054800
 2020-02-27  70.275002  71.500000  68.239998  68.379997  67.046959  320605600
 2020-02-28  64.315002  69.602501  64.092499  68.339996  67.007744  426510000
 2020-03-02  70.570000  75.360001  69.430000  74.702499  73.246223  341397200,
 'MSFT':                   Open        High         Low       Close   Adj Close  \
 Date
 2020-01-02  158.779999  160.729996  158.330002  160.619995  155.761826
 2020-01-03  158.320007  159.949997  158.059998  158.619995  153.822311
 2020-01-06  157.080002  159.100006  156.509995  159.029999  154.219925
 2020-01-07  159.320007  159.669998  157.320007  157.580002  152.813751
 2020-01-08  158.929993  160.800003  157.949997  160.089996  155.247803
 2020-01-09  161.839996  162.220001  161.029999  162.089996  157.187347
 2020-01-10  162.820007  163.220001  161.179993  161.339996  156.460022
 2020-01-13  161.759995  163.309998  161.259995  163.279999  158.341354
 2020-01-14  163.389999  163.600006  161.720001  162.130005  157.226151
 2020-01-15  162.619995  163.940002  162.570007  163.179993  158.244354
 2020-01-16  164.350006  166.240005  164.029999  166.169998  161.143951
 2020-01-17  167.419998  167.470001  165.429993  167.100006  162.045792
 2020-01-21  166.679993  168.190002  166.429993  166.500000  161.463959
 2020-01-22  167.399994  167.490005  165.679993  165.699997  160.688126
 2020-01-23  166.190002  166.800003  165.270004  166.720001  161.677338
 2020-01-24  167.509995  167.529999  164.449997  165.039993  160.048111
 2020-01-27  161.149994  163.380005  160.199997  162.279999  157.371628
 2020-01-28  163.779999  165.759995  163.070007  165.460007  160.455460
 2020-01-29  167.839996  168.750000  165.690002  168.039993  162.957367
 2020-01-30  174.050003  174.050003  170.789993  172.779999  167.554016
 2020-01-31  172.210007  172.399994  169.580002  170.229996  165.081131
 2020-02-03  170.429993  174.500000  170.399994  174.380005  169.105621
 2020-02-04  177.139999  180.639999  176.309998  180.119995  174.671982
 2020-02-05  184.029999  184.199997  178.410004  179.899994  174.458649
 2020-02-06  180.970001  183.820007  180.059998  183.630005  178.075867
 2020-02-07  182.850006  185.630005  182.479996  183.889999  178.327942
 2020-02-10  183.580002  188.839996  183.250000  188.699997  182.992477
 2020-02-11  190.649994  190.699997  183.500000  184.440002  178.861328
 2020-02-12  185.580002  185.850006  181.850006  184.710007  179.123169
 2020-02-13  183.080002  186.229996  182.869995  183.710007  178.153412
 2020-02-14  183.250000  185.410004  182.649994  185.350006  179.743820
 2020-02-18  185.610001  187.699997  185.500000  187.229996  181.566956
 2020-02-19  188.059998  188.179993  186.470001  187.279999  182.111496
 2020-02-20  186.949997  187.250000  181.100006  184.419998  179.330429
 2020-02-21  183.169998  183.500000  177.250000  178.589996  173.661316
 2020-02-24  167.770004  174.550003  163.229996  170.889999  166.173843
 2020-02-25  174.199997  174.839996  167.649994  168.070007  163.431656
 2020-02-26  169.710007  173.259995  168.210007  170.169998  165.473724
 2020-02-27  163.320007  167.029999  157.979996  158.179993  153.814590
 2020-02-28  152.410004  163.710007  152.000000  162.009995  157.538910
 2020-03-02  165.309998  172.919998  162.309998  172.789993  168.021362

               Volume
 Date
 2020-01-02  22622100
 2020-01-03  21116200
 2020-01-06  20813700
 2020-01-07  21634100
 2020-01-08  27746500
 2020-01-09  21385000
 2020-01-10  20725900
 2020-01-13  21626500
 2020-01-14  23477400
 2020-01-15  21417900
 2020-01-16  23865400
 2020-01-17  34371700
 2020-01-21  29517200
 2020-01-22  24138800
 2020-01-23  19680800
 2020-01-24  24918100
 2020-01-27  32078100
 2020-01-28  24899900
 2020-01-29  34754500
 2020-01-30  51597500
 2020-01-31  36142700
 2020-02-03  30107000
 2020-02-04  36433300
 2020-02-05  39186300
 2020-02-06  27751400
 2020-02-07  33529100
 2020-02-10  35844300
 2020-02-11  53159900
 2020-02-12  47062900
 2020-02-13  35295800
 2020-02-14  23149500
 2020-02-18  27792200
 2020-02-19  29997500
 2020-02-20  36862400
 2020-02-21  48572600
 2020-02-24  68311100
 2020-02-25  68073300
 2020-02-26  56206100
 2020-02-27  93174900
 2020-02-28  97012700
 2020-03-02  71030800  ,
 'GOOG':                  Open       High        Low      Close  Adj Close    Volume
 Date
 2020-01-02  67.077499  68.406998  67.077499  68.368500  68.368500  28132000
 2020-01-03  67.392998  68.625000  67.277199  68.032997  68.032997  23728000
 2020-01-06  67.500000  69.824997  67.500000  69.710503  69.710503  34646000
 2020-01-07  69.897003  70.149498  69.518997  69.667000  69.667000  30054000
 2020-01-08  69.603996  70.579002  69.542000  70.216003  70.216003  30560000
 2020-01-09  71.028503  71.366501  70.513496  70.991501  70.991501  30018000
 2020-01-10  71.377998  71.746452  70.917503  71.486504  71.486504  36414000
 2020-01-13  71.806503  72.026001  71.301003  71.961502  71.961502  33046000
 2020-01-14  71.950500  72.089996  71.418503  71.543999  71.543999  31178000
 2020-01-15  71.510498  72.069748  71.510498  71.959999  71.959999  25654000
 2020-01-16  72.372002  72.599503  72.045998  72.584999  72.584999  23474000
 2020-01-17  73.145500  74.064751  72.911003  74.019501  74.019501  47924000
 2020-01-21  73.956001  74.592499  73.559998  74.220001  74.220001  40734000
 2020-01-22  74.550003  75.160698  74.246498  74.297501  74.297501  32216000
 2020-01-23  74.382004  74.776001  74.105003  74.332497  74.332497  27024000
 2020-01-24  74.679497  74.774750  73.262497  73.335503  73.335503  35692000
 2020-01-27  71.550003  71.903503  71.059998  71.695000  71.695000  35104000
 2020-01-28  72.150002  72.800003  71.623497  72.627998  72.627998  31548000
 2020-01-29  72.940002  73.271500  72.336998  72.931503  72.931503  21554000
 2020-01-30  71.998001  72.863998  71.820000  72.792000  72.792000  26788000
 2020-01-31  73.445000  73.506500  71.426498  71.711502  71.711502  48344000
 2020-02-03  73.099998  74.500000  72.949501  74.296997  74.296997  60736000
 2020-02-04  72.853500  73.474998  71.315002  72.353500  72.353500  78660000
 2020-02-05  73.121002  73.192001  71.528000  72.411499  72.411499  39724000
 2020-02-06  72.516502  74.099998  72.478500  73.811501  73.811501  33588000
 2020-02-07  73.364998  74.292000  73.317497  73.961502  73.961502  23446000
 2020-02-10  73.716003  75.474998  73.716003  75.433998  75.433998  28398000
 2020-02-11  75.590500  76.481499  75.281898  75.439499  75.439499  26892000
 2020-02-12  75.723999  76.034752  75.405502  75.913498  75.913498  23352000
 2020-02-13  75.634499  76.359001  75.230003  75.733002  75.733002  18590000
 2020-02-14  75.779999  76.037003  75.366997  76.037003  76.037003  23956000
 2020-02-18  75.750000  76.581497  75.629501  75.983498  75.983498  22414000
 2020-02-19  76.253502  76.605301  76.070000  76.334503  76.334503  18986000
 2020-02-20  76.099998  76.482002  75.341003  75.907501  75.907501  21932000
 2020-02-21  75.401497  75.610748  74.022003  74.255501  74.255501  34634000
 2020-02-24  71.305496  71.848503  70.569504  71.079498  71.079498  57342000
 2020-02-25  71.650002  71.906998  69.120003  69.422501  69.422501  49566000
 2020-02-26  69.806999  70.785004  68.949997  69.658997  69.658997  44048000
 2020-02-27  68.102997  68.585197  65.858498  65.904503  65.904503  59566000
 2020-02-28  63.875000  67.056999  63.549999  66.966499  66.966499  75782000
 2020-03-02  67.580498  69.543503  66.340752  69.455498  69.455498  48630000}