## Data Manipulation

Panda package provides multiple methods to read various type of data, (including hierarchical indexing).

In [4]:
import pandas as pd

In [16]:
datacolnames = ['length','heightL','heightR','frameLB','frameUB','diag']
data_notes = pd.read_table("bank2.dat", names=datacolnames, sep = "\s+", header=None, na_values=['NULL'])
#data = pd.read_csv("bank2.dat", sep = "\s+", header=None)
data_notes.head()

   length  heightL  heightR  frameLB  frameUB   diag
0   214.8    131.0    131.1      9.0      9.7  141.0
1   214.6    129.7    129.7      8.1      9.5  141.7
2   214.8    129.7    129.7      8.7      9.6  142.2
3   214.8    129.7    129.6      7.5     10.4  142.0
4   215.0    129.6    129.7     10.4      7.7  141.8

In [14]:
data_mind = pd.read_csv("csv_multiindex.csv", index_col=["key1", "key2"])
data_mind

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

Dataset can be also <b>read and written</b> in various formats.

In [20]:
data_notes.to_csv("notes_out.csv",sep="|",index=False, header=True,na_rep="NULL")

<b>Serialisation</b> is a very handy way to store the data in a binary format.

(But be careful about versioning of libraries and issues with storing over long time period)

In [22]:
data_notes.to_pickle('data_notes_pickle')

There are also many libraries for read&parse xml and html (incl. web-scraping)

Pandas is using many of them to parse all tabular data by default, (see read_hhtl command for detail).

In [ ]:
#conda install lhtml
#pip install beautifulsoup4 html5lib
#from lxml import objectify
#parsed_data = objectify.parse(data_path_string)

Various web APIs can be accessed f.e. via request package

In [26]:
#import requests
#data_url = 'our_path'
#web_data = request.get(data_url)
#dict_data = web_data.json()